body {
  background: red;
  color: #00ff00;
  font-family: 'Courier New', monospace;
}

.terminal {
  border: 1px solid #333;
  width: 80%;
  margin: 50px auto;
  border-radius: 8px;
}

.top-bar {
  background: #333;
  padding: 10px;
  border-radius: 8px 8px 0 0;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.red {
  background: red;
}

.green {
  background: green;
}

.yellow {
  background: yellow;
}

